.book-cards {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card {
    display: grid;
    color: #333;
    font-family: Georgia, serif;
    background: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 800px;
    cursor: pointer;
}

.book-title {
    font-size: 1rem;
    align-items: baseline;
    font-weight: 600;
    gap: 0.3rem;     
    
}

.series-nro {
    font-size: 0.9rem; 
    font-weight: 400;
    padding: 0 0.3rem;    
}

.book-card p {
    font-size: 0.9rem;
}
