.book-list {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.book-list-content {
    width: 100%;
    max-width: 800px;
}

.book-list-content h2, .book-list-content h3 {
    margin-bottom: 20px;
}