.book-cards {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: auto auto;
    grid-template-areas: 
        'title series'
        'author author';
    color: #333;
    font-family: Georgia, serif;
    background: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 800px;
    cursor: pointer;
}

.book-title {
    grid-area: title;
}

.series-nro {
    grid-area: series;
}

.book-card p {
    grid-area: author;
}
