.modal {
    position: fixed;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(55,55,55,.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.modal-content {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #efeae3;
    border-radius: 0.4rem;
    overflow-y: auto;
    max-height: 90vh;
    box-shadow:  0 8px 25px rgba(0,0,0,0.1);
}


.close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #443627;
}

.modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #443627;
    font-family: Georgia, serif;
}


.modal-content h4 {
    margin-top: 20px;
    margin-bottom: 6px;
    font-size: 18px;
    color: #443627;
    font-family: Georgia, serif;
}

.modal-content p {
    margin: 4px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #443627;
    font-family: Georgia, serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.edit-btn {
    cursor: pointer;
    border: none;
    font-family: Georgia, serif;
    border-radius: 0.25rem;
    font-size: 14px;
    padding: 12px;
    background-color: #73aecc;
    color: #fdfdfc;
}

.edit-btn:hover {
  background-color: #4493bb;
}

.delete-btn {
    cursor: pointer;
    border: none;
    font-family: Georgia, serif;
    border-radius: 0.25rem;
    font-size: 14px;
    padding: 12px;
    background-color: #fb959c ;
    color: #fdfdfc; 
}

.delete-btn:hover {
  background-color: #ef5a6f;
}


@media only screen and (max-width: 767px) {

    .modal {
        padding: 10px 20px;
    }

    .modal-content {
        padding: 16px;
    }

    .close-btn {
        font-size: 20px;
    }

    
    .modal-content h2 {
        font-size: 18px;
    }


    .modal-content h4 {
        font-size: 15px;
    }

    .modal-content p {
        font-size: 14px;
    }

    .edit-btn {
        font-size: 12px;
    }

    .edit-btn:active, .edit-btn:focus {
        background-color: #4493bb;
    }

    .delete-btn {
        font-size: 12px;
    }

    .delete-btn:active, .delete-btn:focus {
    background-color: #ef5a6f;
    }

}

