* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.nav {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    height: 60px;
    width: 100%;
}

.nav a {
    color: #d9d9d9;
    margin: 0 1rem;
    text-decoration: none;
}

.nav a:hover {
    color: #fff;
}

.nav-left {
    font-size: 1.5rem;
    margin-left: 1rem;
}

.desktop-nav-right {
    display: flex;
    font-size: 1rem;
    margin: 0 1rem;
    margin-right: 1rem;
}

.nav button {
    color: #d9d9d9;
    border: none;
    background: none;
    cursor: pointer;
    font: inherit;
    margin: 0 1rem;
}

.nav button:hover {
    color: #fff;
}

.hamburger-btn, .mobile-menu {
    display: none;
}

 @media only screen and (max-width: 767px) {
    .desktop-nav-right {
        display: none;
    }

    .hamburger-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 5px;
        margin-right: 1rem;
        z-index: 10;
        width: 2rem;
        height: 4vh;
        gap: 2px;
    }

    .mobile-menu {
        position: fixed;
        display: flex;
        background-color: #333;
        width: 100vw;
        height: calc(100vh - 60px);
        top: 60px;
        align-items: center;
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .burger {
        width: 2rem;
        height: 0.18rem;
        border-radius: 10px;
        background-color: #d9d9d9;
        transform-origin: 1px;
        transition: 0.3s;
    }

    /*.nav button:active, .nav a:active {
        color:  #fff;
    }*/
}