.search-container {
    display: flex;
    justify-content: center;  
    padding: 1rem;
    margin-top: 80px;
    flex-direction: column;         
}


.search-panel {
    display: flex;
    gap: 1rem;
    align-items: center;   
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.search-panel .dropdown {
    padding: 10px;
    font-size: 1rem;
    background-color: #fdfdfc;
    border-radius: 0.25rem;
    /*border: 1px solid #ccc;*/
    border: none;
    color: #443627;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    flex: 0 0 150px;
}

.search-panel .dropdown select option:hover {
    background-color: #e8e1d7 !important;
}


.searchbar {
    display: flex;
    gap: 0.5rem;
}

.searchbar input {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #fdfdfc;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    min-width: 0;
    color: #443627;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: Georgia, serif;
    flex: 1;
}

.searchbar input:disabled {
    background-color: #f6f3f0;
}

.search-button {
    padding: 10px;
    font-size: 1rem;
    color: #fdfdfc;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    flex-shrink: 0; 
    width: auto;
    flex: 0 0 auto;
    background-color: #BCA88D;
    transition: background-color 0.2s ease;
}

.search-button:disabled {
    background-color: #f6f3f0;
    color: #999;
    cursor: not-allowed;
}


.search-button:hover:enabled {
  background-color: #B99470;
}


.search-results {
    background-color: #fdfdfc;
    border: none;
    width: 100%;
    overflow-y: auto;
    color: #443627;
    font-size: 1rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: Georgia, serif;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 1rem auto;
    max-height: 200px;
}

.search-option {
    padding: 8px;
    cursor: pointer;
}

.search-option:hover {
    background-color: #e8e1d7;
}

@media only screen and (max-width: 767px) {
    .search-panel {
        flex-direction: column; 
        align-items: stretch;   
        gap: 0.5rem;
        padding: 0 1rem;
    }

    .searchbar {
        flex-direction: column;
        gap: 0.5rem;
    }

    .search-results {
        width: 90%;
    }


    .search-panel .dropdown {
        flex: none;
        width: 100%;
        font-size: 0.9rem;
        padding: 6px;
    }

    .searchbar input {
        width: 100%;
        font-size: 0.9rem;
        padding: 8px;
        flex: none;
    }

    .search-button, .search-button:disabled {
        width: 100%;
        font-size: 0.9rem;
        padding: 8px 12px;
        border: none;
    }

    .search-button:active:enabled, .search-button:focus:enabled {
        background-color: #B99470;
    }

}