.Toastify__toast {
    font-family: Georgia, serif;
    color: #443627;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 1.1rem; 
    background-color: #fdfdfc;
    border-radius: 0.25rem;
}


.Toastify__close-button {
    color: #443627;
    opacity: 1;
    font-size: 1rem;        
}


 @media only screen and (max-width: 600px) {
    .Toastify__toast {
        font-size: 0.85rem;
        width: 90%;
        margin: 20px auto;
    }


    .Toastify__close-button {
        font-size: 0.85rem;        
    }
}