.home-page * {
    box-sizing: border-box;
}


.home-page {
    background-color: #F3F4F6;
    min-height: 100vh;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.home-header {
    color: #333;
}

.books {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}