.home-page * {
    box-sizing: border-box;
}


.home-page {
    background-color: hsl(220, 14%, 96%);
    min-height: 100vh;
    overflow-y: auto;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.home-header {
    color: #333;
}

.books {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}