.login-page * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #d9cebe;
    padding: 20px;
}

.login-header {
    margin-bottom: 10px;
    padding-top: 40px;
    font-size: 2rem;
    color: #443627;
    font-size: 2.6rem;
    font-weight: bold;
}

.login-desc {
    font-style: italic;
    color: #443627;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.login-container {
    background-color: #efeae3;
    border-radius: 0.4rem;
    padding: 2rem;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.login-form-title {
    font-size: 1.5rem;
    color: #443627;
    margin-bottom: 2rem;
}

.login-page input {
    display: block;
    padding: 16px 20px;
    margin: 20px 0px;
    /*border: 1px solid #E5E0D8;*/
    border: none;
    color: #443627;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    background-color: #fdfdfc;
}

.login-page button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #BCA88D;
    color: #fdfdfc;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-page button:hover {
    background-color: #B99470;
    box-shadow: 0 12px 16px rgba(0,0,0,0.1);
}

.login-page a {
    display: inline-block;
    color: #443627;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.login-page a:hover {
    text-decoration: underline;
}

.login-page input.input-error {
    border: 1px solid #A94A4A;
}

.login-page .error-p {
    color: #A94A4A;
    font-size: 0.85rem;
    text-align: left;
    margin-top: -15px;
    margin-bottom: 10px;
}

.login-page .err-error {
    color: #A94A4A;
    font-size: 0.85rem;
    text-align: center;
}

 @media only screen and (max-width: 600px) {
    .login-container {
        padding: 1.5rem;
    }

    .login-header {
        font-size: 2rem;
    }

    .login-desc {
        font-size: 1rem;
    }

    .login-form-title {
        font-size: 1.2rem;
    }

    .login-page input {
        font-size: 0.85rem;
    }

    .login-page button {
        font-size: 0.85rem;
    }

    .login-page a {
        font-size: 0.85rem;
    }

    .login-page button:active, .login-page button:focus {
        background-color: #B99470;
        box-shadow: 0 12px 16px rgba(0,0,0,0.1);
    }

    .login-page a:active, .login-page a:focus {
        color: #555;
    }

    .login-page .err-error, .login-page .error-p {
        font-size: 0.75rem;
    }
}