.profile-page {
    min-height: 100vh;
    background-color: #F3F4F6;
}

.profile-form {
    color: #333;
    font-family: Georgia, serif;
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 800px;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 60px);
    padding-top: 95px;
}

.profile-form h1 {
    text-align: center;
    font-size: 1.5rem;
}

.profile-form input {
    padding: 5px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 0.9rem;
    width: 100%;
    color: #333;
    font-family: Georgia, serif;
}

.profile-form label {
    font-size: 0.9rem;
}


.profile-form .submit-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #99d1ff;
    transition: background-color 0.2s ease;
    color: white;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-family: Georgia, serif;
}


.profile-form .submit-btn:hover {
  background-color: #66b8ff;
}



.profile-form .submit-btn:disabled {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #f5f5f5;
    color: #999;
    border: none;
    border-radius: 0.4rem;
    cursor: not-allowed;
}

@media only screen and (max-width: 767px) {
    .profile-container {
        padding: 95px 30px;
    }

    .profile-form h1 {
        font-size: 1rem;
    }

    .profile-form input {
        font-size: 0.85rem;
    }

    .profile-form label {
        font-size: 0.85rem;
    }

    .profile-form .submit-btn, .profile-form .submit-btn:disabled {
        font-size: 0.85rem;
    }
}