.register-page * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F3F4F6;
    font-family: Georgia, serif;
}

.register-container {
    background: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-form-title {
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.register-page input {
    display: block;
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    font-size: 1rem;
    width: 100%;
}


.register-page button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #4db8ff;
    color: white;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}


 @media only screen and (max-width: 600px) {
    .register-container {
        padding: 1.5rem;
        max-width: 90%;
    }
}
