.register-page * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

.register-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F5EEDC;
    padding: 20px;
}

.register-container {
    background-color: #F8F3E4; 
    border-radius: 0.4rem;
    padding: 2rem;
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
}

.register-header {
    margin-bottom: 10px;
    padding-top: 40px;
    font-size: 2rem;
    color: #333;
    font-size: 2.6rem;
    font-weight: bold;
}

.register-desc {
    font-style: italic;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 50px;
}


.register-form-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 2rem;
}

.register-page input {
    display: block;
    padding: 16px 20px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
    width: 100%;
    color: #333;
    background-color: #F8F3E4;
}


.register-page button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #BCA88D;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.register-page button:hover {
    background-color: #B99470;
    box-shadow: 0 12px 16px rgba(0,0,0,0.1);
}


.register-page input.input-error {
    border: 1px solid #A94A4A;
}

.register-page .error-p {
    color: #A94A4A;
    font-size: 0.85rem;
    text-align: left;
    margin-top: -15px;
    margin-bottom: 10px;
}


 @media only screen and (max-width: 600px) {
    .register-container {
        padding: 1.5rem;
    }

    .register-header {
        font-size: 2rem;
    }

    .register-desc {
        font-size: 1rem;
    }

    .register-form-title {
        font-size: 1.2rem;
    }

    .register-page input {
        font-size: 0.85rem;
    }

    .register-page .error-p {
        font-size: 0.75rem;
    }


    .register-page button {
        font-size: 0.85rem;
    }

    .register-page button:active, .register-page button:focus {
        background-color: #B99470;
        box-shadow: 0 12px 16px rgba(0,0,0,0.1);
    }

}
